.header {
  margin-left: 500px;
  font-size: 50px;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
}

.draw-flex-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr );
  grid-template-rows: repeat(16, 1fr );
  width: 600px;
  height: 600px;
  border:solid 1px black;
  margin: auto;
  margin-top: 30px;
}

.button-grid-container {
  width:25%;
  border-color: red;
  margin:auto;
  margin-top: 150px;
}
 .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

